*{
    margin:0;
    padding:0;
}
body{    background-color:#222831 ;
     color:#EEEEEE;
     font-family: 'Poppins', sans-serif;
}
nav{   
     display:flex;
     width:100%;
     justify-content:space-between;
     align-items:center;
     height:100%;
     background-color:#393E46;
     transition:ease-in 2s;
     
}




.left img{      position:relative;
     width:9rem;
     height:6rem;
}

.right a:hover{
     color:aqua;
     cursor:pointer;
}
nav ul{
     display:flex;
     justify-content:center;
}

nav ul li{
     list-style:none;
     margin:0 23px;
}
.left{  display:flex;
     font-size:2rem;
     justify-content:space-around;
     align-items:center;
     
     
}
.firstsection{
     display:flex;
     justify-content:space-between;
     align-items:center;
     margin: 5% 5%;
     padding:0px;
}
.leftsection{
     display:flex;
     flex-direction:column;
     padding:23px 0;
     font-size:2.7rem;
     justify-content:space-between;
     width:50%;
}
.rightsection{
     display:flex;
     justify-content:flex-end;
     align-items:center;
    


}
.rightsection img{    margin:0;
                           padding:0;
                           width:60%;
                     transition:all;
                     transition-duration:2s;

          
}
.rightsection img:hover{
                   padding-right:30px;
}
.name:hover{   
             color:rgb(96, 195, 206);
             transition:all;
             transition-duration: 2s;
             margin-left:20px;
             font-weight:bold;
             text-shadow: #EEEEEE;
             

}